<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h4>Angular 18 Signal Example</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <p>First Name: {{firstName()}} </p><!--call signal like this-->
            <p class="my-0 mb-0">Roll: {{roll()}}</p>
        </div>
        <div class="col-3">
            City Name: {{cityList()}} <!--using array signal-->

        </div>
        <div class="col-3">
            Full Name: {{fullName()}} <!--using computed()-->
        </div>
        <div class="col-3">
            City: {{cityObj().cityName}} <!--using object signal-->
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="addNewCity()">Add City</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="changeFirstName()">Change First Name</button>
            <button type="button" class="btn btn-success btn-sm" (click)="changeLastName()">Change Last Name</button>

        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="changeCityName()">Change City Name</button>

        </div>
    </div>
    <hr />
    <!--Another Signal Example-->
    <div class="row">
        <div class="col-3">
            Employee First Name: <b>{{empFirstName()}}</b> <!--Call normal way signal-->
            Employee Last Name: <b>{{empLastName()}}</b>
        </div>
        <div class="col-3">
            Emp City: <b>{{empCity()}}</b> <!--Array type signal-->
            <input type="text" value="" #city placeholder="Enter city..." />
            <button class="btn btn-sm btn-primary" (click)="addCity(city.value); city.value = '' ">Add City</button>
        </div>
        <div class="col-3"> <!--Computed type signal-->
            Full Name of the Emp: <b>{{empFullName()}}</b>
            <div>
                <!--button to change first name-->
                <button class="btn btn-sm btn-danger" (click)="changeEmpFirstName()">Change First Name</button>
                <!--button to change last name-->
                <button class="btn btn-sm btn-info" (click)="changeEmpLastName()">Change Last Name</button>
            </div>
        </div>
        <div class="col-3">
            Status:
            @if(empObj().isEmpOnline){
                <span class="badge rounded-pill bg-success">Online</span>
            }
            @else{
                <span class="badge rounded-pill bg-danger">Offline</span>
            }

            <div>
                <button class="btn btn-sm btn-warning" (click)="toggleOnlineOffline()">Toggle On/Off</button>
            </div>
        </div>
    </div>
    <!--/Another Signal Example-->
</div>